

@font-face {
  font-family: "Eightgon";
  src: url("/src/assets/fonts/Eightgon-OGn6p.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* Apply font to the whole app */
body {
  font-family: "Eightgon", sans-serif;
}